@page "/"

@if (_deviceRepository.DashboardView is not null)
{
	if (_deviceRepository.DashboardView.TemperatureSensors.Any())
	{
		<div class="flex gap-2 flex-wrap">
			@foreach (var item in _deviceRepository.DashboardView.TemperatureSensors)
			{
				<TemperatureSensor SensorView=@item />
			}
		</div>
	}

	if (_deviceRepository.DashboardView.DoorStatusSensors.Any())
	{
		<div class="flex gap-2 flex-wrap">
			@foreach (var item in _deviceRepository.DashboardView.DoorStatusSensors)
			{
				<DoorSensor DoorStatus=@item />
			}
		</div>
	}
}